* {
    font-family:"Trebuchet MS", "Verdana", sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: 800;
    background-color: rgb(134, 33, 228);
    color: white;
    text-align: center;
}

ul {
    background-color: rgb(211, 201, 221);
    color: black;
}